.editor-ui
{
	padding: 60px 10px 10px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: $color-darkest;
	pointer-events: auto;
	transform: translate3d(-100%, 0, 0);
	transition: transform 0.5s;
	overflow-y: auto;
	overflow-x: hidden;
}
.editor-openUi
{
	transform: translate3d(0, 0, 0);
}
.editorCat
{
	text-align: center;
	img
	{
		margin: 0 2px;
		border: 2px solid transparent;
		display: inline-block;
		user-select: none;
		&:hover
		{
			border-color: $color-hot;
			cursor: pointer;
		}
	}
}
.linkToSaveMap, .loadFileFakeLink
{
	display: block;
	width: 100%;
	text-align: center;
	&:hover
	{
		cursor: default;
	}
}
.loadFileContainer
{
	position: relative;
	width: 100%;
	height: 1rem;
	.loadFileFakeLink
	{
		position: absolute;
		pointer-events: none;
	}
	.loadFile
	{
		position: absolute;
		opacity: 0;
	}
	&:hover
	{
		.loadFileFakeLink
		{
			text-decoration: underline;
		}
	}
}