.editor-ui
{
	padding: 10px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: $color-darkest;
	pointer-events: auto;
}
.editorCat
{
	img
	{
		margin: 0 2px;
		border: 2px solid transparent;
		display: inline-block;
		&:hover
		{
			border-color: $color-hot;
			cursor: pointer;
		}
	}
}