.game
{
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: green;
	opacity: 1;
    transition: opacity 0.5s ease;
}
.canvas-container
{
	position: relative;

	//transition: transform 0.1s;
}
canvas
{
	position: absolute;
	left: 0;
	top: 0;
}