.game
{
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: $color-cold;
	opacity: 1;
    transition: opacity 0.5s ease;
}
.canvas-container
{
	position: relative;

	//transition: transform 0.1s;
}
canvas
{
	position: absolute;
	left: 0;
	top: 0;
	image-rendering: crisp-edges;
}
.game-ui
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: auto;
	.bottom-container
	{
		border-top: 1px solid rgba(255, 255, 255, 0.9);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 32px;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.2);
	}
	.top-container
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 32px;
	}
	img
	{
		border: 2px solid transparent;
		width: 32px;
		height: 32px;
		&:hover
		{
			border-color: $color-hot;
			cursor: pointer;
		}
	}
}