.game
{
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: $color-cold;
	opacity: 1;
    transition: opacity 0.5s ease;
}
.canvas-container
{
	position: relative;
	//transition: transform 0.1s;
}
canvas
{
	position: absolute;
	left: 0;
	top: 0;
	image-rendering: crisp-edges;
}
.game-ui
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	.bottom-container
	{
		border-top: 1px solid rgba(255, 255, 255, 0.9);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 36px;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.2);
	}
	.top-container
	{
		margin-top: 10px;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		text-align: center;
		user-select: none;
		.fps-container
		{
			padding-left: 10px;
			position: static;
			flex: 1;
			text-align: left;
		}
		.timer-container
		{
			flex: 3;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.timer
		{
			p
			{
				width: 100px;
				text-align: left;
			}
		}
		.speed
		{
			width: 40px;
			text-align: left;
		}
		.gameSpeed-icons
		{
			margin-left: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			.img-container
			{
				border-radius: 50%;
			}
		}
		.zoom
		{
			padding-right: 10px;
			flex: 1;
			text-align: right;
		}
	}
	.img-container
	{
		margin: 0 auto;
		border: 2px solid transparent;
		display: inline-block;
		position: relative;
		width: 36px;
		height: 36px;
		user-select: none;
		pointer-events: auto;
		&:hover
		{
			border-color: red;
			cursor: pointer;
		}
		img
		{
			pointer-events: none;
		}
		.actionLength
		{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
			font-size: 24px;
			text-shadow: 1px 0 0 black, 1px 1px 0 black, 0 1px 0 black, -1px 1px 0 black, -1px 0 0 black, -1px -1px 0 black, 0 -1px 0 black, 1px -1px 0 black;
		}
	}
	.img-container.off
	{
		&:hover
		{
			border-color: transparent;
		}
	}
	.img-container.selected
	{
		border-color: red;
	}
}

.intro-container
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color-cold;
	.intro-content
	{
		padding: 50px;
		position: relative;
		width: 48%;
		height: 100%;
		max-width: 608px;
		max-height: 672px;
		background-image: url("../img/intro_bg.png");
 		background-position: center center;
		background-repeat: round;
	}
	.mapName, .mapRules, .mapTips, .mapTips-content
	{
		color: $color-hottest;
		font-weight: bold;
	}
	.mapTips, .mapName
	{
		font-size: 36px;
	}
	.mapTips
	{
		margin-top: 36px;
	}
	.mapRules, .mapTips-content
	{
		font-size: 30px;
	}
	button
	{
		border: 2px solid $color-hottest;
		border-radius: 50%;
		position: absolute;
		bottom: 36px;
		left: 50%;
		color: $color-cold;
		font-weight: bold;
		font-size: 36px;
		pointer-events: auto;
		transform: translate3d(-50%, 0, 0);
		&:hover
		{
			border: 2px solid $color-cold;
			color: $color-hottest;
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 1024px)
{
	.intro-container
	{
		.intro-content
		{
			padding: 46px;
		}
		.mapTips
		{
			margin-top: 30px;
		}
		.mapTips, .mapName
		{
			font-size: 30px;
		}
		.mapRules, .mapTips-content
		{
			font-size: 27px;
		}
		button
		{
			font-size: 30px;
			bottom: 30px;
		}
	}
}

@media screen and (max-width: 870px)
{
	.intro-container
	{
		.intro-content
		{
			padding: 30px;
		}
		.mapTips
		{
			margin-top: 24px;
		}
		.mapTips, .mapName
		{
			font-size: 24px;
		}
		.mapRules, .mapTips-content
		{
			font-size: 18px;
		}
		button
		{
			font-size: 24px;
			bottom: 24px;
		}
	}
}