$color-black: #181d1e;
$color-pink: #c07878;
$color-lightBlue: #99a0ad;

$color-darkest: $color-black;
$color-hot: $color-pink;
$color-cold: $color-lightBlue;

$main-fontFamily: 'Quicksand', sans-serif;
$sec-fontFamily: 'Lato', sans-serif;

$main-fontSize: 18px;