html, body, header, nav, footer, section, div, span, h1, h2, h3, h4, h5, h6, p, a, blockquote, cite, img, ol, ul, li, form, fieldset, legend, label, input, button {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box; }

p, a, cite, label, input, button, span {
  font-family: "Quicksand", sans-serif; }

h1, h2, h3, h4, h5, h6, legend {
  font-family: "Lato", sans-serif; }

html {
  max-width: 100%;
  width: 100%;
  height: 100%;
  font-size: 18px; }

body {
  height: 100%;
  background-color: black; }

section {
  max-width: 100vw;
  width: 100%;
  max-height: 100vh;
  height: 100%;
  overflow: hidden; }

button {
  font-size: 1.5rem;
  color: white;
  background-color: transparent; }

a {
  color: #c07878;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.menus {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #99a0ad;
  opacity: 1;
  transition: opacity 0.5s; }

.menu-container {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  background-color: #181d1e;
  transition: transform 0.2s; }
  .menu-container button {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    width: 95%; }
    .menu-container button:hover {
      cursor: pointer;
      color: black;
      background-color: #c07878; }
  .menu-container .selected {
    color: black;
    background-color: #c07878; }

.closeMainMenu {
  transform: translateX(-100%); }

.options-container {
  margin: 0 auto;
  max-width: 500px;
  width: 100%; }
  .options-container button {
    margin: 0.5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #181d1e; }
    .options-container button span {
      display: inline-block; }
    .options-container button .option-content {
      border: 2px solid transparent;
      border-radius: 8px;
      padding: 0.5rem;
      color: white;
      background-color: #181d1e; }
    .options-container button:hover {
      cursor: pointer; }
      .options-container button:hover .option-content {
        border-color: #181d1e;
        color: #181d1e;
        background-color: #c07878; }
  .options-container .selected .option-content {
    border-color: #181d1e;
    color: #181d1e;
    background-color: #c07878; }

@media screen and (max-height: 500px) {
  .options-container {
    padding: 25px;
    height: 100%;
    overflow: auto; } }
.ui {
  padding: 20px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  color: white;
  pointer-events: none; }

.fps-container {
  position: absolute;
  z-index: 10; }

.game {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #99a0ad;
  opacity: 1;
  transition: opacity 0.5s ease; }

.canvas-container {
  position: relative; }

canvas {
  position: absolute;
  left: 0;
  top: 0;
  image-rendering: crisp-edges; }

.game-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }
  .game-ui .bottom-container {
    border-top: 1px solid rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2); }
  .game-ui .top-container {
    margin-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    user-select: none; }
    .game-ui .top-container .fps-container {
      padding-left: 10px;
      position: static;
      flex: 1;
      text-align: left; }
    .game-ui .top-container .center-container {
      flex: 3;
      display: flex;
      justify-content: center;
      align-items: center; }
    .game-ui .top-container .timer p {
      width: 100px;
      text-align: left; }
    .game-ui .top-container .speed {
      width: 40px;
      text-align: left; }
    .game-ui .top-container .gameSpeed-icons {
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .game-ui .top-container .gameSpeed-icons .img-container {
        border-radius: 50%; }
    .game-ui .top-container .alive-container {
      margin-left: 20px; }
    .game-ui .top-container .saved-container {
      margin-left: 10px; }
    .game-ui .top-container .zoom {
      padding-right: 10px;
      flex: 1;
      text-align: right; }
  .game-ui .img-container {
    margin: 0 auto;
    border: 2px solid transparent;
    display: inline-block;
    position: relative;
    width: 36px;
    height: 36px;
    user-select: none;
    pointer-events: auto; }
    .game-ui .img-container:hover {
      border-color: red;
      cursor: pointer; }
    .game-ui .img-container img {
      pointer-events: none; }
    .game-ui .img-container .actionLength {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      font-size: 24px;
      text-shadow: 1px 0 0 black, 1px 1px 0 black, 0 1px 0 black, -1px 1px 0 black, -1px 0 0 black, -1px -1px 0 black, 0 -1px 0 black, 1px -1px 0 black; }
  .game-ui .img-container.off:hover {
    border-color: transparent; }
  .game-ui .img-container.selected {
    border-color: red; }

.intro-container, .outro-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99a0ad; }
  .intro-container .intro-content, .intro-container .outro-content, .outro-container .intro-content, .outro-container .outro-content {
    border: 1px solid white;
    padding: 90px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 90%;
    max-width: 600px;
    max-height: 720px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    background-image: url("../img/intro_bg.png"); }
  .intro-container .mapName, .intro-container .mapRules-container, .intro-container .mapTips, .intro-container .mapTips-content, .intro-container .outro-result, .intro-container .outro-details, .outro-container .mapName, .outro-container .mapRules-container, .outro-container .mapTips, .outro-container .mapTips-content, .outro-container .outro-result, .outro-container .outro-details {
    color: #99a0ad;
    font-weight: bold; }
  .intro-container .mapName, .intro-container .outro-result, .outro-container .mapName, .outro-container .outro-result {
    font-family: "Lato", sans-serif;
    font-size: 36px; }
  .intro-container .mapRules-container, .intro-container .mapTips, .intro-container .outro-details, .outro-container .mapRules-container, .outro-container .mapTips, .outro-container .outro-details {
    font-size: 30px; }
  .intro-container button, .outro-container button {
    border: 2px solid #dea200;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: #181d1e;
    font-weight: bold;
    font-size: 20px;
    background-color: #99a0ad;
    pointer-events: auto;
    transition: all 0.2s; }
    .intro-container button:hover, .outro-container button:hover {
      border-color: #99a0ad;
      color: #181d1e;
      background-color: #dea200;
      cursor: pointer; }

@media screen and (max-width: 1024px) {
  .intro-container .intro-content, .intro-container .outr-content, .outro-container .intro-content, .outro-container .outr-content {
    padding: 60px 20px 20px; }
  .intro-container .mapName, .intro-container .outro-result, .outro-container .mapName, .outro-container .outro-result {
    font-size: 30px; }
  .intro-container .mapRules-container, .intro-container .mapTips, .intro-container .outro-details, .outro-container .mapRules-container, .outro-container .mapTips, .outro-container .outro-details {
    font-size: 27px; }
  .intro-container button, .outro-container button {
    width: 86px;
    height: 86px;
    bottom: 30px; } }
@media screen and (max-width: 870px) {
  .intro-container .intro-content, .intro-container .outr-content, .outro-container .intro-content, .outro-container .outr-content {
    padding: 54px 16px 16px; }
  .intro-container .mapName, .intro-container .outro-result, .outro-container .mapName, .outro-container .outro-result {
    font-size: 24px; }
  .intro-container .mapRules-container, .intro-container .mapTips, .intro-container .outro-details, .outro-container .mapRules-container, .outro-container .mapTips, .outro-container .outro-details {
    font-size: 18px; } }
.editor-ui {
  border-right: 1px solid white;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #181d1e;
  pointer-events: auto;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.5s;
  overflow-y: auto;
  overflow-x: hidden; }
  .editor-ui .fps-container {
    padding-left: 10px;
    position: static;
    flex: 1;
    text-align: center; }
  .editor-ui .btn {
    color: #c07878;
    text-decoration: none;
    text-align: center; }
    .editor-ui .btn:hover {
      text-decoration: underline;
      cursor: pointer; }

.editor-openUi {
  transform: translate3d(0, 0, 0); }

.editor-autoClose {
  transform: translate3d(calc(16px - 100%), 0, 0); }
  .editor-autoClose:hover {
    transform: translate3d(0, 0, 0); }

.editor-rightSide {
  border-right: none;
  border-left: 1px solid white;
  left: unset;
  right: 0; }
  .editor-rightSide .toggleSideMenu {
    transform: scaleX(-1); }

.editor-rightSide.editor-autoClose {
  transform: translate3d(calc(100% - 16px), 0, 0); }
  .editor-rightSide.editor-autoClose:hover {
    transform: translate3d(0, 0, 0); }

.menuOptions-container {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .menuOptions-container .icon-Container {
    border: 2px solid transparent; }
    .menuOptions-container .icon-Container:hover {
      border-color: #c07878;
      cursor: pointer; }
    .menuOptions-container .icon-Container .img-container {
      display: block; }
  .menuOptions-container .iconSelected {
    border-color: #c07878; }

.editorElems-container {
  padding: 10px; }

.editorCat {
  max-width: 120px;
  text-align: left;
  pointer-events: auto; }
  .editorCat .img-container {
    margin: 0 2px;
    border: 2px solid transparent;
    display: inline-block;
    user-select: none; }
    .editorCat .img-container:hover {
      border-color: #c07878;
      cursor: pointer; }
    .editorCat .img-container img {
      max-width: 52px;
      max-height: 52px;
      height: auto;
      pointer-events: none; }

.linkToSaveMap, .loadFileFakeLink {
  display: block;
  width: 100%;
  text-align: center; }
  .linkToSaveMap:hover, .loadFileFakeLink:hover {
    cursor: default; }

.loadFileContainer {
  position: relative;
  width: 100%;
  height: 1rem; }
  .loadFileContainer .loadFileFakeLink {
    position: absolute;
    pointer-events: none; }
  .loadFileContainer .loadFile {
    position: absolute;
    opacity: 0; }
  .loadFileContainer:hover .loadFileFakeLink {
    text-decoration: underline; }

.backToEditor {
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: auto; }

.hidden {
  display: none;
  pointer-events: none; }

.softHidden {
  opacity: 0;
  pointer-events: none; }

.alert {
  color: #900; }

.off {
  filter: grayscale(100%); }

.active {
  pointer-events: auto; }

/*# sourceMappingURL=style.css.map */
